/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

img {
    max-width: 100%;
    display: block;
}

/* Common Styling */

.container {
    max-width: 1200px;
    margin: auto;
}

.common-btn {
    background: #1D4ED8;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.common-btn:hover {
    background: #1540b8;
}

/* -- HEADER SECTION STYLING -- */

header {
    background: #ffffff;
    padding: 20px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 20px;
    font-weight: 500;
}

/* -- HERO SECTION STYLING -- */


.hero {
    position: relative;
    height: 90vh;

    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

/* Dark Overlay */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.65);
}

/* Content */
.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 0 20px;
}

/* Heading */
.hero-content h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
}

/* Italic word */
.hero-content h1 em {
    font-style: italic;
}

/* Paragraph */
.hero-content p {
    font-size: 22px;
    margin-bottom: 200px;
}

/* Button */
.hero-content .common-btn {
    padding: 18px 40px;
}


/* --- SPEAKERS SECTION STYLING --- */

.speakers-section {
    padding: 80px 0;
    background-color: #ffffff;
}

.section-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #000102;
    margin-bottom: 50px;
}

.speakers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.speaker-card {
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
}

.speaker-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}

.speaker-info {
    padding: 24px;
}

.speaker-category {
    display: block;
    color: #2563EB;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
}

.speaker-info h3 {
    font-size: 24px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 8px;
}

.speaker-info p {
    font-size: 15px;
    color: #575757;

}

/* PRICING SECTION STYLING */
.pricing-section {
    padding: 80px 0;
    background-color: #ffffff;
}

.pricing-header {
    text-align: center;
    margin-bottom: 50px;
}

.pricing-header h2 {
    font-size: 42px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 10px;
}

.pricing-header p {
    font-size: 18px;
    color: #575757;
}

.pricing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* it will take 3 card sections evenly*/
    gap: 20px;
}

.pricing-card {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    padding: 40px 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* Highlighted Pro Card */
.pricing-card.pro-card {
    background-color: #0D1B2A;
    color: #ffffff; /* white text*/
    border: none;
}

.plan-name {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.pro-card .plan-name {
    color: #93C5FD; /* Light blue text for Pro label */
    
}

.plan-price {
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 5px;
}

.pro-card .plan-price {
    color: #ffffff;
}

.plan-subtitle {
    font-size: 14px;
    color: #888888;
    margin-bottom: 30px;
}

.pro-card .plan-subtitle {
    color: #ffffff7c;
}

/* Horizontal Divider Line */
.pricing-card hr {
    border: 0;
    border-top: 1px solid #E5E7EB;
    margin-bottom: 30px;
}

.pro-card hr {
    border-top: 1px solid #ffffff10;
    /* Darker line for the dark card */
}

.plan-features {
    padding-left: 20px; /* indent for bullets */
    margin-bottom: 30px;
    flex-grow: 1; /* this automatically stretches the list so all buttons at the bottom */
    
}

.plan-features li {
    font-size: 15px;
    margin-bottom: 15px;
    color: #333333;
}

.pro-card .plan-features li {
    color: #ffffff;
}

/* Standard CSS pseudo element to color just the bullet points */
.plan-features li::marker {
    color: #60A5FA;
}

/* Standard Pricing Buttons */
.pricing-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    transition: 0.3s;
}

.btn-outline-blue {
    border: 1px solid #2563EB;
    color: #2563EB;
}

.btn-solid-blue {
    background-color: #2563EB;
    border: 1px solid #2563EB;
    color: #ffffff;
}

.btn-outline-dark {
    border: 1px solid #0D1B2A;
    color: #0D1B2A;
}